$primary-color: #4f77ff;
$gray1: #7b88a8;
$gray2: #f7f5f1;
$gray3: #788190;
$text-heading: #2d3958;
$red: #ef3737;
$white: #ffffff;
$yellow: #f9c45c;
$text-black: #120f1f;
$text-black2: #000000;
$text-gray: #e7e5ea;
$bg: #f7f5f1;
$bg-gray: #292f3a;

$primary-font: "DM Sans", sans-serif;
$secondary-font: "Outfit", sans-serif;
