.hero
    .container.hero-container
        .hero-content 
            h1.hero-heading Branding to fuel your growth 
                span goals & ideas.
            p.hero-desc We're a digital product and UX agency in San Francisco. Strategy, design, and development across all platforms.
            .hero-links
                a.hero-started.button(href="/") Get started
                a.hero-play
                    span.hero-play-icon
                        img(src="./images/icon-play.svg" alt="play")
                    span.hero-text How it works
        .hero-image
            img(src="./images/avatar.png" alt="avatar")