section.logos
    .container.logos-container
        h2.logos-title Working with the most trusted brands in the industry
        ul.logos-list
            each val in ["./images/icon-google.svg", "./images/icon-neftlix.svg", "./images/icon-slack.svg", "./images/icon-intercom.svg"]
                li.logos-item
                    img(src= val alt="logo") 