section.services#services 
    .container.services-container
        h2.heading.services-heading We design engaging digital products used by millions of people
        p.services-desc We team up with marketing departments of large companies and startups to deliver award‑winning websites
        ul.services-list
            each val in [{img: "./images/icon-rocket.svg", title: "Branding"},{img: "./images/icon-layers.svg", title: "Development"}, {img: "./images/icon-chart.svg", title: "Strategy"}]
                li.services-item
                    img.services-icon(src= val.img alt="" srcset="")
                    h3.services-title= val.title
                    p.services-item-desc We design digital platforms to empower users and your brand's tribe.
        a.services-link.button(href="#") View Our Services