*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
  color: #7b88a8;
  background-color: #ffffff;
}

.wrapper {
  margin: 0 auto;
  max-width: 1920px;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

.button {
  all: unset;
  color: #ffffff;
  border-radius: 5px;
  background-color: #4f77ff;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: -0.3px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  font-size: 15px;
  line-height: 1.6;
  font-family: "Outfit", sans-serif;
}

.heading {
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  color: #2d3958;
}

.text {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
}

@media screen and (max-width: 767.98px) {
  .button {
    font-size: 13px;
  }
}
.header {
  padding: 16px 0 230px;
  background-color: #f7f5f1;
  position: relative;
}
.header-shape {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header-nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #2d3958;
  text-decoration: none;
  font-size: 24px;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  line-height: 1.5;
}
.header .menu {
  list-style: none;
  display: flex;
  gap: 30px;
}
.header .menu-link {
  display: block;
  text-decoration: none;
  color: #7b88a8;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
  font-family: "Outfit", sans-serif;
  transition: linear 0.2s;
}
.header .menu-link:hover {
  color: #2d3958;
}
.header .menu-toggle {
  display: none;
}
.header .menu-toggle * {
  pointer-events: none;
}
.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header-right .icon-bag {
  display: inline-block;
  position: relative;
}
.header-right .icon-bag:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 10px;
  background-color: #ef3737;
  border: 1px solid #ffffff;
  border-radius: 50px;
}
.header-right .btn-signup {
  font-size: 14px;
  padding: 12px 38.5px;
}
.header-scroll {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 50%;
  bottom: 0;
  background-color: #f9c45c;
  transform: translate(-50%, 50%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100rem;
}

@media screen and (max-width: 1023.98px) {
  .header {
    padding-bottom: 80px;
  }
  .menu {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 300px;
    z-index: 20;
    background-color: #e7e5ea;
    flex-direction: column;
    align-items: stretch;
    gap: 0 !important;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .menu.is-show {
    transform: none;
  }
  .menu-link {
    padding: 10px;
  }
  .menu-link:hover {
    color: #2d3958;
  }
  .menu-toggle {
    display: inline-block !important;
  }
  .btn-signup {
    display: none;
  }
}
.hero {
  margin-top: 86px;
  position: relative;
}
.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-content {
  max-width: 770px;
  width: 100%;
}
.hero-heading {
  font-size: 72px;
  line-height: 1.0833333333;
  margin-bottom: 40px;
  letter-spacing: -2px;
}
.hero-heading span {
  color: transparent;
  background-clip: text;
  background: linear-gradient(91.79deg, #857fff 32.21%, #ffc0ec 83.79%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero-desc {
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: -0.3px;
  margin-bottom: 70px;
}
.hero-links {
  display: flex;
  align-items: center;
  gap: 7px;
}
.hero-started {
  padding: 16px 32px;
}
.hero-play {
  display: flex;
  align-items: center;
  gap: 7px;
}
.hero-play-icon {
  width: 52px;
  height: 52px;
  background-color: #ffffff;
  border-radius: 100rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 20px rgba(18, 2, 47, 0.15);
}
.hero-text {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: -0.3px;
  color: #2d3958;
  font-family: "Outfit", sans-serif;
}

@media screen and (max-width: 767.98px) {
  .hero {
    margin-top: 40px;
  }
  .hero-container {
    flex-direction: column;
    gap: 30px;
  }
  .hero-heading {
    font-size: 50px;
  }
  .hero-desc {
    margin-bottom: 40px;
    font-size: 16px;
  }
  .hero-text {
    font-size: 13px;
  }
  .hero-play-icon {
    width: 45px;
    height: 45px;
  }
}
@media screen and (max-width: 479.98px) {
  .hero-started {
    padding: 10px 20px;
  }
}
.services {
  padding: 150px 0 120px;
}
.services-heading {
  font-size: 64px;
  letter-spacing: -2px;
  text-align: center;
  line-height: 1.125;
  max-width: 970px;
  margin: 0 auto 30px;
}
.services-desc {
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: -0.3px;
  text-align: center;
  margin-bottom: 80px;
}
.services-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 30px;
  list-style: none;
}
.services-item {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 35px 60px;
  border-radius: 20px;
  border: 1px solid rgba(97, 119, 152, 0.2);
  transition: all 0.2s linear;
}
.services-item-desc {
  line-height: 1.625;
}
.services-item:hover {
  border-color: transparent;
  box-shadow: 0px 20px 50px rgba(79, 119, 255, 0.2);
}
.services-title {
  margin: 22px 0 40px;
  color: #120f1f;
  font-weight: 400;
  font-family: "Outfit", sans-serif;
  font-size: 22px;
  letter-spacing: -1px;
  line-height: 1.4545454545;
}
.services-list {
  margin-bottom: 70px;
}
.services-link {
  padding: 16px 32px;
  margin: 0 auto;
}

@media screen and (max-width: 1023.98px) {
  .services {
    padding: 80px 0 80px;
  }
}
@media screen and (max-width: 767.98px) {
  .services-heading {
    font-size: 42px;
  }
  .services-list {
    grid-template-columns: 1fr;
  }
  .services-title {
    margin: 10px 0 20px;
  }
}
.logos {
  margin-bottom: 120px;
}
.logos-title {
  font-family: "Outfit", sans-serif;
  text-align: center;
  color: #000000;
  font-size: 36px;
  line-height: 1.2777777778;
  letter-spacing: -1px;
  font-weight: 500;
  margin-bottom: 80px;
}
.logos-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

@media screen and (max-width: 767.98px) {
  .logos {
    margin-bottom: 80px;
  }
  .logos-title {
    font-size: 25px;
    margin-bottom: 40px;
  }
  .logos-list {
    flex-direction: column;
    gap: 20px;
  }
}
.about {
  background-color: #f7f5f1;
  padding: 120px 0;
}
.about-heading {
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 1.1666666667;
  letter-spacing: -2px;
  text-align: center;
  color: #2d3958;
  margin-bottom: 30px;
}
.about-desc {
  text-align: center;
  line-height: 1.5555555556;
  letter-spacing: -0.3px;
  margin-bottom: 120px;
}
.about-sections {
  display: flex;
  flex-direction: column;
  gap: 150px;
}
.about-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-section:nth-child(even) {
  flex-direction: row-reverse;
}
.about-section-title {
  font-size: 36px;
  letter-spacing: -1px;
  line-height: 1.2777777778;
  margin-bottom: 30px;
}
.about-content {
  max-width: 570px;
  width: 100%;
}
.about-text {
  letter-spacing: -0.3px;
  line-height: 1.5555555556;
  color: #788190;
  margin-bottom: 50px;
  font-size: 18px;
}
.about-text-down {
  margin-bottom: 70px;
}
.about-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.about-item {
  display: flex;
  align-items: flex-start;
  gap: 13px;
}
.about-item-title {
  font-family: "Outfit", sans-serif;
  color: #2d3958;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.4px;
  margin-bottom: 10px;
}
.about-item-desc {
  line-height: 1.625;
}
.about-item-button {
  padding: 16px 32px;
}

@media screen and (max-width: 767.98px) {
  .about {
    padding: 80px 0;
  }
  .about-sections {
    flex-direction: column;
    gap: 80px;
  }
  .about-section {
    flex-direction: column;
  }
  .about-section:nth-child(even) {
    flex-direction: column;
  }
  .about-section-title {
    margin-bottom: 20px;
    text-align: center;
  }
  .about-heading {
    font-size: 36px;
    margin-bottom: 20px;
  }
  .about-desc {
    margin-bottom: 80px;
  }
  .about-item-button {
    margin: 0 auto;
  }
  .about-text {
    text-align: center;
  }
  .about-text-up {
    margin-bottom: 30px;
    text-align: center;
  }
  .about-text-down {
    margin-bottom: 30px;
    text-align: center;
  }
}
.portfolio {
  padding: 120px 0;
}
.portfolio-heading {
  text-align: center;
  font-family: "Outfit", sans-serif;
  font-size: 42px;
  line-height: 1.1904761905;
  color: #2d3958;
  font-weight: 500;
  max-width: 970px;
  margin: 0 auto 100px;
}
.portfolio-list {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 50px 30px;
}
.portfolio-item {
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-decoration: none;
  color: #4f77ff;
  font-size: 22px;
  line-height: 1.4545454545;
  letter-spacing: -1px;
}
.portfolio-item:first-child {
  grid-column: 1/span 7;
}
.portfolio-item:nth-child(2) {
  grid-column: 8/-1;
}
.portfolio-item:nth-child(3) {
  grid-column: 1/span 5;
}
.portfolio-item:last-child {
  grid-column: 6/-1;
}

@media screen and (max-width: 1023.98px) {
  .portfolio {
    padding: 80px 0;
  }
}
@media screen and (max-width: 767.98px) {
  .portfolio-heading {
    font-size: 42px;
    margin: 0 auto 50px;
  }
  .portfolio-list {
    grid-gap: 20px 15px;
  }
}
.cta {
  background-color: #f7f5f1;
  padding: 106px;
  position: relative;
}
.cta-heading {
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 1.1666666667;
  text-align: center;
  color: #2d3958;
  max-width: 870px;
  margin: 0 auto 30px;
}
.cta-desc {
  font-family: "Outfit", sans-serif;
  font-size: 22px;
  line-height: 1.4545454545;
  text-align: center;
  letter-spacing: -1px;
  margin-bottom: 65px;
}
.cta-button {
  padding: 16px 32px;
  margin: 0 auto;
}
.cta-shape {
  pointer-events: none;
  user-select: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 767.98px) {
  .cta {
    padding: 80px;
  }
  .cta-heading {
    font-size: 40px;
  }
  .cta-desc {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 479.98px) {
  .cta-heading {
    font-size: 25px;
  }
  .cta-button {
    padding: 10px 20px;
  }
}
.footer {
  background-color: #292f3a;
}
.footer-top {
  padding: 100px 0;
  border-bottom: #7b88a8 1px solid;
  display: flex;
  justify-content: space-between;
}
.footer-bottom {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-text {
  color: #ffffff;
}
.footer-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.footer-item {
  background-color: #4f77ff;
  width: 52px;
  height: 52px;
  border-radius: 100rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-logo {
  color: #ffffff;
}
.footer-heading {
  font-size: 22px;
  line-height: 1.4545454545;
  letter-spacing: -1px;
  color: #ffffff;
  margin-bottom: 20px;
}
.footer-links {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-link {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: -0.3px;
}
.footer-column {
  flex-shrink: 0;
}
.footer-column:last-child {
  max-width: 370px;
}

.newsletter-desc {
  color: #e7e5ea;
  font-size: 16px;
  line-height: 1.625;
  margin-bottom: 25px;
}
.newsletter-form {
  display: flex;
  height: 48px;
  gap: 6px;
  width: 100%;
  margin-bottom: 15px;
}
.newsletter-button {
  padding: 0 40px;
  flex-shrink: 0;
}
.newsletter-input {
  all: unset;
  background-color: #ffffff;
  border-radius: 5px;
  font-size: 16px;
  padding: 0 18px;
  color: #2d3958;
  flex: 1;
}
.newsletter-warning {
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: -0.3px;
  color: #e7e5ea;
}

@media screen and (max-width: 1023.98px) {
  .footer-top {
    gap: 10px;
    padding: 80px 0;
  }
  .footer-column:last-child {
    flex-basis: 0;
    max-width: 300px;
  }
  .newsletter-button {
    padding: 0 20px;
  }
}
@media screen and (max-width: 767.98px) {
  .footer-logo {
    justify-content: center;
  }
  .footer-heading {
    margin-bottom: 10px;
  }
  .footer-top {
    flex-direction: column;
    gap: 40px;
    text-align: center;
  }
  .footer-column:last-child {
    max-width: 100%;
  }
  .footer-bottom {
    flex-direction: column;
    gap: 20px;
  }
  .footer-text {
    text-align: center;
  }
}

/*# sourceMappingURL=main.css.map */
