*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
  color: #7b88a8;
  background-color: #ffffff;
}

.wrapper {
  margin: 0 auto;
  max-width: 1920px;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

.button {
  all: unset;
  color: #ffffff;
  border-radius: 5px;
  background-color: #4f77ff;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: -0.3px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  font-size: 15px;
  line-height: 1.6;
  font-family: "Outfit", sans-serif;
}

.heading {
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  color: #2d3958;
}

.header {
  padding: 16px 0 230px;
  background-color: #f7f5f1;
  position: relative;
}
.header-shape {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header-nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #2d3958;
  text-decoration: none;
  font-size: 24px;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  line-height: 1.5;
}
.header .menu {
  list-style: none;
  display: flex;
  gap: 30px;
}
.header .menu-link {
  display: block;
  text-decoration: none;
  color: #7b88a8;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
  font-family: "Outfit", sans-serif;
  transition: linear 0.2s;
}
.header .menu-link:hover {
  color: #2d3958;
}
.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header-right .icon-bag {
  display: inline-block;
  position: relative;
}
.header-right .icon-bag:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 10px;
  background-color: #ef3737;
  border: 1px solid #ffffff;
  border-radius: 50px;
}
.header-right .btn-signup {
  font-size: 14px;
  padding: 12px 38.5px;
}
.header-scroll {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 50%;
  bottom: 0;
  background-color: #f9c45c;
  transform: translate(-50%, 50%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100rem;
}

.hero {
  margin-top: 86px;
  position: relative;
}
.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-content {
  max-width: 770px;
  width: 100%;
}
.hero-heading {
  font-size: 72px;
  line-height: 1.0833333333;
  margin-bottom: 40px;
  letter-spacing: -2px;
}
.hero-heading span {
  color: transparent;
  background-clip: text;
  background: linear-gradient(91.79deg, #857fff 32.21%, #ffc0ec 83.79%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero-desc {
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: -0.3px;
  margin-bottom: 70px;
}
.hero-links {
  display: flex;
  align-items: center;
  gap: 7px;
}
.hero-started {
  padding: 16px 32px;
}
.hero-play {
  display: flex;
  align-items: center;
  gap: 7px;
}
.hero-play-icon {
  width: 52px;
  height: 52px;
  background-color: #ffffff;
  border-radius: 100rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 20px rgba(18, 2, 47, 0.15);
}
.hero-text {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: -0.3px;
  color: #2d3958;
  font-family: "Outfit", sans-serif;
}

.services {
  margin: 150px 0 120px;
}
.services-heading {
  font-size: 64px;
  letter-spacing: -2px;
  text-align: center;
  line-height: 1.125;
  max-width: 970px;
  margin: 0 auto 30px;
}
.services-desc {
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: -0.3px;
  text-align: center;
  margin-bottom: 80px;
}
.services-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 30px;
  list-style: none;
}
.services-item {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 35px 60px;
  border-radius: 20px;
  border: 1px solid rgba(97, 119, 152, 0.2);
  transition: all 0.2s linear;
}
.services-item-desc {
  line-height: 1.625;
}
.services-item:hover {
  border-color: transparent;
  box-shadow: 0px 20px 50px rgba(79, 119, 255, 0.2);
}
.services-title {
  margin: 22px 0 40px;
  color: #120f1f;
  font-weight: 400;
  font-family: "Outfit", sans-serif;
  font-size: 22px;
  letter-spacing: -1px;
  line-height: 1.4545454545;
}
.services-list {
  margin-bottom: 70px;
}
.services-link {
  padding: 16px 32px;
  margin: 0 auto;
}

.logos {
  margin-bottom: 120px;
}
.logos-title {
  font-family: "Outfit", sans-serif;
  text-align: center;
  color: #000000;
  font-size: 36px;
  line-height: 1.2777777778;
  letter-spacing: -1px;
  font-weight: 500;
  margin-bottom: 80px;
}
.logos-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

/*# sourceMappingURL=main.css.map */
